<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <connectionStrings>
    <clear />
        <add name="dbConnection"
        connectionString="Server=tcp:w1625929w.database.windows.net,1433;Initial Catalog=Damabel;Persist Security Info=False;User ID=damabel_ed;Password=dmbl_929;
   MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  
</connectionStrings>
</configuration>

